<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Test task slider
		meta(name="viewport" content="width=device-width")
body
	.container
		.main-screen#first-screen
			.main-screen__title Всегда ли цели терапии СД2 на поверхности?
			.main-screen__text.text-1 Гипогликемия
			.main-screen__text.text-2 Цель по HbA1c
			.main-screen__text.text-3 Осложнения СД
			.main-screen__text.text-4 СС риски
			.main-screen__ellipses
				.ellipse-1
					.ellipse-1-1
					.ellipse-1-2
					.ellipse-1-3
				.ellipse-2
					.ellipse-2-1
					.ellipse-2-2
					.ellipse-2-3
				.ellipse-3
					.ellipse-3-1
					.ellipse-3-2
					.ellipse-3-3
				.ellipse-4
					.ellipse-4-1
					.ellipse-4-2
					.ellipse-4-3
			.main-screen__next#next
				span.main-screen__next_text Листайте вниз
		.second-screen#second-screen
			.second-screen__bg-ice
				.ice-1.bg-ice
				.ice-2.bg-ice
				.ice-3.bg-ice
				.ice-4.bg-ice
			.second-screen__title Основа терапии — патогенез СД2
		.third-screen#third-screen
			.tabs-wrapper
				.tab-1
					.tab-1__title Звенья патогенеза СД2
					.scheme-1
						.scheme-1__ice-bg
							.ice-1.ice-bg
							.ice-2.ice-bg
							.ice-3.ice-bg
						.block-1.scheme-1__block
							.block-1__number.block-number 1
							.block-1__text.block-text β-клетки
							.block-1__img_bg
								.block-1__img β
						.block-2.scheme-1__block
							.block-2__number.block-number 2
							.block-2__text.block-text Мышцы
							.block-2__img_bg
								.block-2__img 
						.block-3.scheme-1__block
							.block-3__number.block-number 3
							.block-3__text.block-text Печень
							.block-3__img_bg
								.block-3__img
						.block-4
							.block-4__title Гипергликемия
						.scheme-1__arrows
							.arrow-1.block-arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="121px" height="11px"><defs><filter id="Filter_0"><feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M121.004,5.618 L101.860,11.000 L101.904,6.408 L-0.009,5.394 L0.008,3.558 L101.922,4.572 L101.965,-0.012 L121.004,5.618 Z"/></g></svg>
							.arrow-2.block-arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="316px" height="266px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut"/><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M315.531,1.675 L15.170,253.696 L18.161,257.006 L0.455,265.814 L10.924,248.997 L13.964,252.361 L314.325,0.340 L315.531,1.675 Z"/></g></svg>
							.arrow-3.block-arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="135px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M11.231,115.233 L5.712,134.223 L0.437,115.128 L4.937,115.172 L5.932,0.553 L7.731,0.571 L6.736,115.189 L11.231,115.233 Z"/></g></svg>
							.arrow-4.block-arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="316px" height="266px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M315.545,265.814 L297.839,257.006 L300.830,253.696 L0.469,1.675 L1.675,0.340 L302.036,252.361 L305.076,248.997 L315.545,265.814 Z"/></g></svg>
							.arrow-5.block-arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="132px" height="11px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M132.009,5.394 L19.096,6.409 L19.140,11.000 L-0.004,5.618 L19.035,-0.012 L19.078,4.573 L131.992,3.558 L132.009,5.394 Z"/></g></svg>
				.tab-2
					.tab-2__title Смертельный октет
					.scheme-2
						.scheme-2__bg-ice
							.bg-ice-1.bg-ice
							.bg-ice-2.bg-ice
							.bg-ice-3.bg-ice
						.block-1.block
							.block-1__number.block-number 1
							.block-1__text.block-text β-клетки
							.block-1__img_bg
								.block-1__img_text β
						.block-2.block
							.block-2__text.block-text Инкретиновый эффект
							.block-2__img_bg
								.block-2__number.block-number 2
						.block-3.block
							.block-3__img_bg
								.block-3__number.block-number 3
							.block-3__text.block-text Дефект α-клеток
						.block-4.block
							.block-4__img_bg
								.block-4__img
							.block-4__number.block-number 4
							.block-4__text.block-text Жировые клетки
						.block-5.block
							.block-5__img_bg
								.block-5__img
							.block-5__number.block-number 5
							.block-5__text.block-text Мышцы
						.block-6.block
							.block-6__img_bg
								.block-6__img
							.block-6__number.block-number 6
							.block-6__text.block-text Печень
						.block-7.block
							.block-7__img_bg
								.block-7__img
							.block-7__number.block-number 7
							.block-7__text.block-text Головной мозг
						.block-8.block
							.block-8__img_bg
								.block-8__img
							.block-8__number.block-number 8
							.block-8__text.block-text Почки
						.block-9
							.block-9__text Гипергликемия
						.scheme-2__arrows
							.arrow-1.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="73px" height="11px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M72.665,5.399 L53.564,10.830 L53.567,6.357 L0.595,6.543 L0.595,4.754 L53.568,4.568 L53.570,0.096 L72.665,5.399 Z"/></g></svg>
							.arrow-2.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="68px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M10.997,48.924 L5.572,68.009 L0.014,48.917 L4.591,48.920 L4.401,0.001 L6.231,0.002 L6.421,48.921 L10.997,48.924 Z"/></g></svg>
							.arrow-3.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="68px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M10.997,48.924 L5.572,68.009 L0.014,48.917 L4.591,48.920 L4.401,0.001 L6.231,0.002 L6.421,48.921 L10.997,48.924 Z"/></g></svg>
							.arrow-4.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="68px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" /><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut"/><feBlend mode="normal" in="compOut" in2="SourceGraphic"/></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M10.997,48.924 L5.572,68.009 L0.014,48.917 L4.591,48.920 L4.401,0.001 L6.231,0.002 L6.421,48.921 L10.997,48.924 Z"/></g></svg>
							.arrow-5.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="79px" height="11px"><defs><filter id="Filter_0"><feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut"/><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic"/></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M78.999,4.401 L78.998,6.231 L19.079,6.422 L19.076,10.997 L-0.009,5.572 L19.083,0.014 L19.080,4.591 L78.999,4.401 Z"/></g></svg>
							.arrow-6.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="65px"><defs><filter id="Filter_0"><feFlood flood-color="rgb(255, 255, 255)"flood-opacity="1" result="floodOut"/><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" /><feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M6.410,19.080 L6.599,64.999 L4.769,64.998 L4.579,19.079 L0.003,19.076 L5.428,-0.009 L10.986,19.083 L6.410,19.080 Z"/></g></svg>
							.arrow-7.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="65px"><defs><filter id="Filter_0"><feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut"/><feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut"/><feBlend mode="normal" in="compOut" in2="SourceGraphic"/></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M6.410,19.080 L6.599,64.999 L4.769,64.998 L4.579,19.079 L0.003,19.076 L5.428,-0.009 L10.986,19.083 L6.410,19.080 Z"/></g></svg>
							.arrow-8.scheme-2__arrow
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="65px"><defs><filter id="Filter_0">    <feFlood flood-color="rgb(255, 255, 255)" flood-opacity="1" result="floodOut" />    <feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />    <feBlend mode="normal" in="compOut" in2="SourceGraphic" /></filter></defs><g filter="url(#Filter_0)"><path fill-rule="evenodd"  fill="rgb(0, 0, 0)" d="M6.410,19.080 L6.599,64.999 L4.769,64.998 L4.579,19.079 L0.003,19.076 L5.428,-0.009 L10.986,19.083 L6.410,19.080 Z"/></g></svg>
				.tab-3
					.tab-3__title Звенья патогенеза СД2
					.scheme-3
						.scheme-3__ice-bg
							.ice-1.ice-bg
							.ice-2.ice-bg
							.ice-3.ice-bg
						.block-1
							.block-1__number.block-number 1
							.block-1__text.block-text β-клетки
							.block-1__img β
						.block-2
							.block-2__number.block-number 2
							.block-2__text.block-text ↓ инкретинового эффекта
						.block-3
							.block-3__number.block-number 3
							.block-3__text.block-text Дефект α-клеток
						.block-right
							.block-right__title Инсулинорезистентность
							.block-6
								.block-6__img.block-img
									.block-6__img_bg.block__img_bg
								.block-6__number.block-number 6
								.block-6__text.block-text Печень
							.block-5
								.block-5__img.block-img
									.block-5__img_bg.block__img_bg
								.block-5__number.block-number 5
								.block-5__text.block-text Мышцы
							.block-4
								.block-4__img.block-img
									.block-4__img_bg.block__img_bg
								.block-4__number.block-number 4
								.block-4__text.block-text Жировые клетки
						.block-7
							.block-7__img.block-img
								.block-7__img_bg.block__img_bg
							.block-7__number.block-number 7
							.block-7__text.block-text Головной мозг 
						.block-8
							.block-8__img.block-img
								.block-8__img_bg.block__img_bg
							.block-8__number.block-number 8
							.block-8__text.block-text Микрофлора кишечника
						.block-9
							.block-9__img.block-img
								.block-9__img_bg.block__img_bg
							.block-9__number.block-number 9
							.block-9__text.block-text Нарушение иммунной регуляции/воспаление
						.block-10
							.block-10__img.block-img
								.block-9__img_bg.block__img_bg
							.block-10__number.block-number 10
							.block-10__text.block-text Желудок
						.block-11
							.block-11__img.block-img
								.block-11__img_bg.block__img_bg
							.block-11__number.block-number 11
							.block-11__text.block-text Почки
						.scheme-3__text-1 Гипергликемия
						.scheme-3__text-2 ↓ амилин
						.scheme-3__text-3 ↑ глюкагон
						.scheme-3__arrow-1.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="227px" height="37px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M226.227,2.214 L19.630,32.387 L20.286,36.865 L0.649,34.239 L18.710,26.117 L19.367,30.596 L225.964,0.423 L226.227,2.214 Z"/></svg>
						.scheme-3__arrow-2.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="226px" height="37px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M225.576,2.641 L207.545,10.713 L206.889,6.262 L0.630,36.247 L0.368,34.467 L206.627,4.481 L205.971,0.031 L225.576,2.641 Z"/></svg>
						.scheme-3__arrow-3.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="268px" height="159px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M267.558,2.358 L17.806,149.533 L20.112,153.427 L0.946,158.443 L14.576,144.079 L16.884,147.975 L266.635,0.800 L267.558,2.358 Z"/></svg>
						.scheme-3__arrow-4.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="268px" height="158px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M267.665,0.149 L254.043,14.455 L251.747,10.584 L1.557,157.688 L0.638,156.140 L250.828,9.036 L248.534,5.168 L267.665,0.149 Z"/></svg>
						.scheme-3__arrow-5.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="368px" height="289px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M367.636,2.076 L15.969,277.848 L18.756,281.448 L0.327,288.808 L12.076,272.819 L14.855,276.409 L366.522,0.638 L367.636,2.076 Z"/></svg>
						.scheme-3__arrow-6.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="47px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.060,27.390 L5.604,46.465 L0.147,27.390 L4.693,27.390 L4.693,0.095 L6.513,0.095 L6.513,27.390 L11.060,27.390 Z"/></svg>
						.scheme-3__arrow-7.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="177px" height="88px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M176.822,87.265 L157.281,83.803 L159.274,79.719 L0.449,2.535 L1.246,0.900 L160.072,78.085 L162.067,73.997 L176.822,87.265 Z"/></svg>
						.scheme-3__arrow-8.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="143px" height="12px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M142.731,6.210 L123.651,11.665 L123.651,7.120 L0.846,7.120 L0.846,5.301 L123.651,5.301 L123.651,0.755 L142.731,6.210 Z"/></svg>
						.scheme-3__arrow-9.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="143px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.808,123.583 L6.352,142.658 L0.895,123.583 L5.442,123.583 L5.442,0.806 L7.261,0.806 L7.261,123.583 L11.808,123.583 Z"/></svg>
						.scheme-3__arrow-10.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="120px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.808,100.483 L6.352,119.559 L0.895,100.483 L5.442,100.483 L5.442,0.707 L7.261,0.707 L7.261,100.483 L11.808,100.483 Z"/></svg>
						.scheme-3__arrow-11.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="434px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.196,414.574 L5.739,433.649 L0.283,414.574 L4.829,414.574 L4.829,0.806 L6.648,0.806 L6.648,414.574 L11.196,414.574 Z"/></svg>
						.scheme-3__arrow-12.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="143px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.583,123.583 L6.127,142.658 L0.670,123.583 L5.217,123.583 L5.217,0.806 L7.036,0.806 L7.036,123.583 L11.583,123.583 Z"/></svg>
						.scheme-3__arrow-13.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="37px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.583,17.812 L6.127,36.888 L0.670,17.812 L5.217,17.812 L5.217,0.517 L7.036,0.517 L7.036,17.812 L11.583,17.812 Z"/></svg>
						.scheme-3__arrow-14.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="64px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.583,44.483 L6.127,63.559 L0.670,44.483 L5.217,44.483 L5.217,0.188 L7.036,0.188 L7.036,44.483 L11.583,44.483 Z"/></svg>
						.scheme-3__arrow-15.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="48px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M6.909,19.941 L6.909,47.236 L5.090,47.236 L5.090,19.941 L0.544,19.941 L6.000,0.865 L11.457,19.941 L6.909,19.941 Z"/></svg>
						.scheme-3__arrow-16.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="48px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.844,28.155 L6.388,47.230 L0.931,28.155 L5.478,28.155 L5.478,0.859 L7.297,0.859 L7.297,28.155 L11.844,28.155 Z"/></svg>
						.scheme-3__arrow-17.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="267px" height="159px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M266.981,156.742 L266.064,158.290 L16.206,11.210 L13.913,15.081 L0.309,0.778 L19.414,5.795 L17.123,9.663 L266.981,156.742 Z"/></svg>
						.scheme-3__arrow-18.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="267px" height="159px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M266.658,158.047 L247.517,153.032 L249.820,149.139 L0.399,1.988 L1.321,0.430 L250.742,147.581 L253.046,143.686 L266.658,158.047 Z"/></svg>
						.scheme-3__arrow-19.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="226px" height="38px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M226.011,35.459 L225.748,37.247 L19.161,7.130 L18.504,11.601 L0.444,3.493 L20.080,0.872 L19.423,5.342 L226.011,35.459 Z"/></svg>
						.scheme-3__arrow-20.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="227px" height="37px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M226.740,34.160 L207.072,36.798 L207.730,32.300 L0.803,1.995 L1.067,0.195 L207.993,30.501 L208.651,26.002 L226.740,34.160 Z"/></svg>
						.scheme-3__arrow-21.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="48px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M7.107,19.721 L7.107,47.016 L5.287,47.016 L5.287,19.721 L0.741,19.721 L6.198,0.645 L11.654,19.721 L7.107,19.721 Z"/></svg>
						.scheme-3__arrow-22.scheme-3__arrows
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="47px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.042,27.934 L5.585,47.010 L0.129,27.934 L4.675,27.934 L4.675,0.639 L6.494,0.639 L6.494,27.934 L11.042,27.934 Z"/></svg>
			.toggle
				.toggle-container
					.toggle__bar_bg
					.toggle__bar
					.toggle__handle
				.toggle-points
					.toggle-point.point-1 1988
					.toggle-point.point-2 2009
					.toggle-point.point-3 2016
		.pagination#pagination
			.pagination__indicator.indicator-active
			.pagination__indicator
			.pagination__indicator